{
	# do not attempt to install certs on the docker container
		skip_install_trust
		
}

(localTLS) {
	tls internal {
			on_demand
				
	}
	
}

(localHostOnly) {
	@localHostOnly remote_ip 127.0.0.1
	
}

(localSubnets) {
	@localSubnets remote_ip private_ranges
	
}

https://*.gurucomputing.com {
tls {
		dns cloudflare <your-API-Key>
			
}
	import *.caddy
	
}
